{{render 'state'}}
<div class="resize"></div>
<section class="workspace">
  {{render 'canvas'}}
  <div class="resize"></div>
  {{render 'details'}}
  <div class="resize"></div>
  {{render 'stepper'}}
</section>
<div class="resize"></div>
{{render 'router'}}
